/* General resets for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Section styling for the whole content */
section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    height: 100%;
}



/* Logo image styling */
#logo {
    margin-bottom: 8px; /* Space between logo and login form */
    width: auto;
    max-width: 200px; /* Adjust the max width of the logo */
    height: auto;
}

/* Wrapper to center the login form */
#login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
}

/* Styling for the login container */
#login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

/* Heading style */
h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


/* Form row styling */
.form_row {
    margin-bottom: 15px;
}

/* Input field styling */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styling */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Button hover effect */
input[type="submit"]:hover {
    background-color: #808080;
}

.errmsg{
    color: #808080;
    text-align: center;

}
